@import "../bower_components/bootstrap/less/alerts.less";

// improve alert padding
.alert {
    display: inline-block;
    width: 100%;
    padding: @alert-padding @alert-padding*2;
}

.toast {
    // width: 100%;
    border-radius: 0 2px 2px 0;
    position: relative;
    font-size: 13px;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0,0,0,.3);
    // color: #fff;
    border-left: 4px solid transparent;
    display: block;

    .toast-content {
        padding: @alert-padding*2 @alert-padding*2;
    }
    .toast-actions {
        text-align: left;
        padding: @alert-padding*2 @alert-padding*2;
        padding-top: 0;
        display: inline-block;
        width: 100%;
        // background: lighten(@tooltip-bg, 4%);
    }

    .close {
        margin-top: -1px;
        // margin-right: -5px;
    }

    &.toast-info {
        border-color: @brand-info;
    }
    &.toast-primary {
        border-color: @brand-primary;
    }
    &.toast-success {
        border-color: @brand-success;
    }
    &.toast-danger {
        border-color: @brand-danger;
    }
    &.toast-warning {
        border-color: @brand-warning;
    }
}
