<div id="modal-appSettings" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="hd-appSettings">
    <div class="modal-dialog" style="width: 750px; max-width: 100%; padding: 20px;">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 id="hd-appSettings" class="modal-title">Application Settings</h4>
            </div>
            <div style="width: 200px; min-height: 400px; float: left;" class="keyline-right">
                <ul role="tab-list" class="nav nav-stacked nav-tree">
                    <li class="category" role="presentation">General</li>
                    <li role="presentation" class="active"><a href="#" role="tab">Profile</a></li>
                    <li role="presentation"><a href="#" role="tab">Deployments</a></li>
                    <li role="presentation"><a href="#" role="tab">Billing</a></li>
                    <li class="category" role="presentation">System</li>
                    <li role="presentation"><a href="#" role="tab">Notifications</a></li>
                    <li role="presentation"><a href="#" role="tab">Emails</a></li>
                    <li role="presentation"><a href="#" role="tab">SSH keys</a></li>
                </ul>
            </div>
            <div style="margin-left: 200px; max-height: 400px; overflow: auto;">
                <div style="opacity: 1; display: inline-block; width: 100%;">
                    <div class="modal-body">
                        <a class="pull-right"></a>
                        <h4 style="margin-top: 0px; margin-bottom: 16px;">Profile</h4>
                        <form role="form" class="">
                            <div class="form-group">
                                <label class="control-label">Username</label>
                                <div class="">
                                    <input type="text" value="jsmith12" style="display: inline-block; max-width: 250px;" class="form-control" disabled="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <div class="">
                                    <input type="text" value="John Smith" style="max-width: 250px;" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <div class="">
                                    <input type="text" value="john.smith@gmail.com" style="max-width: 250px;" class="form-control">
                                </div>
                            </div>
                            <button class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
