<div class="table-multiline table-responsive hide">
    <table class="table table-sortable">
        <thead>
            <tr>
                <th>Application
                    <abbr title="Number">#</abbr><span class="icon icon-sort"></span></th>
                <th>Docket
                    <abbr title="Number">#</abbr><span class="icon icon-sort"></span></th>
                <th>Title</th>
                <th>Filing Date<span class="icon icon-caret-down"></span></th>
                <th>Status<span class="icon icon-sort"></span></th>
                <th>IFW</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#void">12/379,876</a></td>
                <td>US1234-767</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                <td>12/13/2014</td>
                <td>Issued
                    <p class="text-muted">01/14/15</p>
                </td>
                <td colspan="2"><a href="#void">View</a></td>
            </tr>
            <tr class="row-details">
                <td colspan="6">
                    <dl class="dl-horizontal">
                        <dt>Last submission</dt>
                        <dd>11/23/2009</dd>
                        <dt>Filed by</dt>
                        <dd>John Olaskey</dd>
                        <dt>Examiner</dt>
                        <dd>Roman Amirpur</dd>
                        <dt>Attorney</dt>
                        <dd>Disney Dale</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Patent
                            <abbr title="Number">#</abbr>
                        </dt>
                        <dd>IP, Sikyin / 69776 / 1742</dd>
                        <dt>SPE (multiple)</dt>
                        <dd>John Olaskey</dd>
                        <dt>Applicants</dt>
                        <dd>Roman Amirpur</dd>
                        <dt>Inventors</dt>
                        <dd>Disney Dale</dd>
                        <dt>Law firm</dt>
                        <dd>Clayton &amp; Clayton Associates</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Examiner</dt>
                        <dd>IP, Sikyin / 69776 / 1742</dd>
                        <dt>SPE (multiple)</dt>
                        <dd>John Olaskey</dd>
                        <dt>Applicants</dt>
                        <dd>Roman Amirpur</dd>
                        <dt>Inventors</dt>
                        <dd>Disney Dale</dd>
                        <dt>Law firm</dt>
                        <dd>Clayton &amp; Clayton Associates</dd>
                    </dl>
                </td>
            </tr>
            <tr>
                <td><a href="#void">12/480,876</a></td>
                <td>US1234-767</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                <td>11/13/2014</td>
                <td>Issued
                    <p class="text-muted">12/14/15</p>
                </td>
                <td colspan="2"><a href="#void">View</a></td>
            </tr>
            <tr>
                <td><a href="#void">12/591,876</a></td>
                <td>US1234-767</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                <td>10/13/2014</td>
                <td>Issued
                    <p class="text-muted">11/14/15</p>
                </td>
                <td colspan="2"><a href="#void">View</a></td>
            </tr>
        </tbody>
    </table>
</div>
