.app-sidebar {
    display: table-cell;
    overflow: hidden;
    transition: width 0.5s;
    vertical-align: top;
    width: 0;
    &.open {
        &+.col {
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &.dashboards {
        &.open {
            width: 175px;
        }
        @media (min-width: 768px) {
            width: 175px;
        }
    }
    &.filters {
        &.open {
            width: 250px;
        }
        @media (min-width: 768px) {
            width: 250px;
        }
    }
}

.ex-sub-header .btn-sidebar {
    margin-right: 10px;
}
