// .meta-filedApps {
// 	float: left;
// 	margin-top: 10px;
// 	text-align: right;
// 	@media (min-width: 640px) {
// 		margin-top: 0;
// 		float: right;		
// 	}
// }


.link-dashboards {
	display: inline-block;
	margin-bottom: 10px;
	@media (min-width: 768px) {
		display: none;
	}
}