<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">

        <title><%= locals.title ? locals.title + ' - ' : '' %><%= locals.subCategory ? locals.subCategory + ' - ' : '' %>USPTO design guide</title>

        <meta name="description" content="An open source design guide, pattern library, and Bootstrap theme.">
        <meta name="keywords" contnet="html, css, js, javascript, uspto, design, guide, design guide, frontend, bootstrap, united states patent and trademark office, open source, github">
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#004c97">

        <meta property="og:title" content="<%= locals.title ? locals.title + ' - ' : '' %><%= locals.subCategory ? locals.subCategory + ' - ' : '' %>USPTO design guide">
        <meta property="og:description" content="An open source design guide, pattern library, and Bootstrap theme.">

        <link rel="shortcut icon" href="favicon.ico">

        <!--[if lt IE 9]>
            <script src="vendor/html5shiv/html5shiv.min.js"></script>
        <![endif]-->

        <!-- build:css(docs) styles/vendor.css -->
        <link rel="stylesheet" href="vendor/jquery-ui-1.11.1.custom/jquery-ui.structure.css"/>
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="../bower_components/select2/select2.css" />
        <link rel="stylesheet" href="../bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/pattern-library.css">
        <!-- endbuild -->
    </head>
    <body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
