<% include header %>
<div class="pl-header navbar navbar-inverse pl-no-sidebar">
    <div class="container">
        <ul class="nav navbar-nav nav-pills">
            <li>
                <a href="index.html">About</a>
            </li>
            <li>
                <a href="patterns-index.html">Patterns</a>
            </li>
            <li class="active">
                <a href="resources.html">Resources</a>
            </li>
            <li>
                <a href="changelog.html">Changelog</a>
            </li>
        </ul>
        <ul class="nav navbar-nav nav-pills navbar-right">
            <li>
                <a href="<%= globals.githubURL %>" title="View on Github" ><i class="fa fa-1x fa-github"></i> &nbsp; View on Github</a>
            </li>
        </ul>
    </div>
</div>
<div class="pl-hero">
    <div class="container">
        <h1 class="text-center">Resources</h1>
        <h3 class="text-center">... we're working on it.</h3>
    </div>
</div>
<div class="">
    <div class="container" style="max-width: 600px; margin-top: 60px;">
        <div class="panel panel-default panel-body text-center">
            <h3>Interested in utilizing these resources?</h3>
            <p>For now, reach out to the UXD department.</p>
        </div>
    </div>
</div>

<% include footer %>
